#container{
    
    width: 100%;
    height: 1000px; 
}

.panel {
    display: table;
}
.panel > div{
    display: table-row;
    height: 300px;
}
.panel > div.fill{
    height: auto;
}




/* Unimportant styles just to make the demo looks better */
#container {
    border: 3px solid magenta;
}
#cell1 {
    background: lightblue;
}
#cell2 {
    background: lightyellow;
}
#cell3{
    background: lightgreen;
}
body {
    margin: 0px;
    font-family: sans-serif;
}